
.modalForm {
  color: black;
}

h4 {
  color: black;
  font-size: 20px;
}

.fieldMessage {
  color: red;
}

.modalForm input,
.modalForm p {
  display: inline-block;

}

.modalForm input {
  margin-left: 10px;
}

.lastName, 
.password {
  margin-left: 10px;
}

.emailInput {
  width: 85%;
}

.signup button {
  cursor: pointer;
}

.error {
  border: 1px solid red;
}

/* .signupBtn {
  margin-left: 6px;
} */

.signupBtn {
  --color: white;
  --hover: rgb(255,155,60);
  background: none;
  border: 1px solid;
  border-radius: 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin: 0.5em;
  padding: 10px;
  color: var(--color);
  transition: 0.25s;
  margin-left: 6px;
}

.signupBtn:hover,
.signupBtn:focus {
  box-shadow: inset 11em 0 0 0 var(--hover);
}