.jumbotron {
  color: #eee;
  background: #777;
  background: url('../Images/journal.jpeg');
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.jumbotron .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.jumbotron img {
  height: auto;
  width: 70%;
  z-index: 2;
}

.jumbotron h1 {
  font-size: 5rem;
  margin: 0;
  z-index: 2;
}

.jumbotron h3 {
  font-size: 2.5rem;
  z-index: 2;
}
