@font-face {
	font-family: 'Ostrich Sans';
	src: local('Ostrich Sans'), url(../fonts/ostrich-sans/OstrichSans-Medium.otf) format('opentype');
}

.weekday,
.habitText {
  font-family: 'Ostrich Sans';
  letter-spacing: 1px;
  font-size: 19px;
}

.weekday .fa-check {
  background: green;
  border: green;
}

.weekday .fa-close {
  background: red;
  border: red; 
}

