.footer {
    height: 40px;
    width: 100%;
    color: #eee;
    background: rgb(44,62,80);
    padding: 10px;
    display: flex;
    font-size: 10px;
    justify-content: center;
    margin-top: 10px;
}