/* Orange rgb(255,155,60) */
/* Blue Background rgb(44,62,80) */
/* Red-Orange rgb(255, 88, 43) */
/* Red (delete button) rgb(255,0,0) */
/* Light Blue (delete button) rgb(149,255,245) */
@font-face {
	font-family: 'Ostrich Sans';
	src: local('Ostrich Sans'), url(../fonts/ostrich-sans/OstrichSans-Medium.otf) format('opentype');
}

.addHabit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addHabitForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 80%;
  /* border: 2px solid orange; */
  background-color: rgb(60,214,255);
  border-radius: 5px;
}

.addHabit select,
.addHabit input {
  width: 200px;
  height: 25px;
  margin-left: 20px;
}

.addHabitForm h3 {
  font-family: 'Ostrich Sans';
  font-size: 31px;
  letter-spacing: 1px;
  font-weight: 700;
}

.newHabitButton {
  --color: white;
  --hover: rgb(255,155,60);
  background: none;
  border: 1px solid;
  border-radius: 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin: 0.5em;
  padding: 10px;
  color: var(--color);
  transition: 0.25s;
  margin-left: 30px;
}

.newHabitButton:hover,
.newHabitButton:focus {
  box-shadow: inset 11em 0 0 0 var(--hover);
}