@font-face {
	font-family: 'Ostrich Sans';
	src: local('Ostrich Sans'), url(../fonts/ostrich-sans/OstrichSans-Medium.otf) format('opentype');
}

.chartModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartModal {
  color: black;
  font-family: 'Ostrich Sans';
  letter-spacing: 1px;
  font-size: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chartModal h1 {
  margin-bottom: 0;
}

.pieIcon {
  cursor: pointer;
  transition: 0.3s;
}

.pieIcon:hover {
  color: orange;
}