.navbar {
  color: #eee;
  width: 100%;
  background: rgb(44,62,80);
  padding: 10px;
  display: flex;
  align-items: center;  
}

.navbar a {
  line-height: 0;
  width: 300px;
}

.navbar img {
  width: 100%;
  height: auto;
}

.navbar h1 {
  margin: 0;
}

.navbar form {
  margin-left: auto;
}

/* .navbar form label, */
.navbar form button {
  margin-left: 15px;
}

label {
  font-family: 'Roboto', sans-serif;
}



